.footerContainer {
  background: #fff7f7;
  padding: 2% 7%;
}

.footColOne {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footColTwo {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
  }
}

.footColThree {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #000000;
  }

  .iconGroup {
    width: 62%;
    display: flex;
    justify-content: space-between;
  }
}

.copyright {
  margin-top: 4%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #868686;
}
