@import "../../../../mixins.module.scss";

.prodIntroContainer {
  height: 70vh;
  background: url("../../../../Assets/home/introPic.png");
  @include bg-center;
  @include y-center;
  position: relative;
  z-index: -1;

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  p {
    width: 70%;
    z-index: 3;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  img {
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
}
