@import "../../../../mixins.module.scss";

// .aboutIntroContainer {
//   height: 89vh;
// }
// .rightColAbout {
//   background: url("../../../../Assets/home/introPic.png");
//   @include bg-center;
//   // position: relative;

//   // img {
//   //   position: absolute;
//   //   bottom: 0;
//   //   // z-index: 3;
//   // }
// }

// .leftColAbout {
//   @include y-top;
//   overflow-y: scroll;
//   height: 89vh;
//   h1 {
//     margin-bottom: 1%;
//     position: relative;
//     z-index: 5;
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 600;
//     font-size: 48px;
//     line-height: 66px;
//     letter-spacing: 2px;
//     color: #000000;
//     text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//   }

//   p {
//     padding-inline: 7%;
//     position: relative;
//     z-index: 5;
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 22px;
//     line-height: 34px;
//     color: #000000;
//     text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//   }
// }

// // mobile styling

// @media (max-width: 576px) {
//   .aboutIntroContainer {
//     height: 85vh;
//   }

//   .rightColAbout {
//     order: 1;
//     height: 42.5vh;
//   }
//   .leftColAbout {
//     padding-top: 6%;
//     order: 2;
//     height: 42.5vh;

//     h1 {
//       font-weight: 500;
//       font-size: 25px;
//       line-height: 40px;
//       display: flex;
//       align-items: center;
//       text-align: center;
//       letter-spacing: 1px;
//       color: #1d1f2e;
//     }

//     p {
//       font-weight: 300;
//       font-size: 12px;
//       line-height: 18px;
//       /* or 150% */

//       display: flex;
//       align-items: center;
//       text-align: justify;
//       letter-spacing: 0.005em;

//       color: rgba(29, 31, 46, 0.7);
//     }
//   }
// }

.aboutIntroContainer {
  // height: 89vh;
  background: url("../../../../Assets/home/introPic.png");
  @include bg-center;
  @include y-center;
  padding-top:8%;
  padding-bottom:5%;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    z-index: 3;
  }

  h1 {
    margin-bottom: 1%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  p {
    padding-inline: 7%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align:justify;
  }
}
