@import "../../../../mixins.module.scss";

.aboutIntroContainer{
  height:89vh;
}
.rightColAbout{
  background: url("../../../../Assets/home/introPic.png");
  @include bg-center;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    // z-index: 3;
  }
}

.leftColAbout{
  @include y-top;
  overflow-y:scroll;
  height:89vh;
  h1 {
    margin-bottom: 1%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  p {
    padding-inline: 7%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

}

// .aboutIntroContainer {
//   // height: 89vh;
//   background: url("../../../../Assets/home/introPic.png");
//   @include bg-center;
//   @include y-center;
//   position: relative;

//   img {
//     position: absolute;
//     bottom: 0;
//     z-index: 3;
//   }

//   h1 {
//     margin-bottom: 1%;
//     position: relative;
//     z-index: 5;
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 600;
//     font-size: 48px;
//     line-height: 66px;
//     letter-spacing: 2px;
//     color: #000000;
//     text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//   }

//   p {
//     padding-inline: 7%;
//     position: relative;
//     z-index: 5;
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 22px;
//     line-height: 34px;
//     color: #000000;
//     text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//   }
// }
