@import "../../../../mixins.module.scss";

.aboutIntroContainer {
  // height: 89vh;
  background: url("../../../../Assets/home/introPic.png");
  background: url("../../../../Assets/home/updated/homeProFive.jpg");

  @include bg-center;
  @include y-center;
  padding-top: 8%;
  padding-bottom: 5%;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
  }

  h1 {
    margin-bottom: 1%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  p {
    padding-inline: 7%;
    position: relative;
    z-index: 5;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: justify;
  }
}


// mobile stying 

@media (max-width:576px){
  .aboutIntroContainer{

    h1{
      font-weight: 700;
      font-size: 24px;
      line-height: 45px;
    }
    p{
      font-size: 12px;
      line-height: 16px;
    }
  }
}
