.introContainer {
  background: url("../../../Assets/home/introPic.png");
  background-size:cover;
  background-position: center;
 
  height: 89vh;
  display:flex !important;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    /* or 138% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #ffffff;

    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.7%;
  }

  p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.3%;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 21.3px 15px 21px;
    border:none;

    // width: 164.3px;
    // height: 48px;

    background: #ffffff;

    p {
      font-family: "Karla";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #000000;
      margin-bottom:0;
    }
  }



 
  
}




