@import "./mixins.module.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #000000;
}

.nav-li:hover {
  background-color: rgba(154, 154, 154, 0.15);
}

::-webkit-scrollbar {
  display: none !important;
}

// .desktop-container {
//   // margin-top: 100px;
// }

.kkContainer {
  padding-top: 90px;
}
.footer-end {
  flex-direction: row;
}

.footer-email {
  padding-right: 75px;
}

footer {
  // scroll-snap-stop: always;
  // scroll-snap-align: end;
  position: relative;
  height: auto;
  width: 100%;
}

// slider arrow styling

.slick-prev {
  z-index: 5 !important;
  left: 7.2% !important;
}

.slick-prev:before {
  font-size: 60px;
  background: #ed3237;
}

.slick-next {
  z-index: 5 !important;
  right: 7.2% !important;
}

.slick-next:before {
  font-size: 60px;
  background: #ed3237;
}

.slick-dots {
  bottom: 8% !important;
}

.slick-dots li {
  margin: 0 1% !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
  // color: #EECBCC !important;
}

.slick-dots li.slick-active button:before {
  color: #ffffff !important;
}

// slider setting for the itemSlide
.itemSlide {
  .slick-slide {
    padding: 0 10px;
  }

  // .slick-prev {
  //   z-index: 5 !important;
  //   top:40% !important;
  //   left: 10% !important;
  // }

  // .slick-prev:before, .slick-prev::before {
  //   content: url('./Assets/Slick/icon_arrow_left.svg') !important;
  //   background: transparent !important;
  // }

  .slick-prev {
    z-index: 5 !important;
    top: 40% !important;
    left: 10% !important;
  }

  .slick-prev::before,
  .slick-prev:before {
    content: url("./Assets/Slick/icon_arrow_left.svg") !important;
    background: transparent !important;
    position: absolute;
  }

  .slick-next {
    z-index: 5 !important;
    top: 40% !important;
    right: 10% !important;
  }

  .slick-next:before,
  .slick-next::before {
    content: url("./Assets/Slick/icon_arrow_right.svg") !important;
    background: transparent !important;
    position: absolute;
  }
}

.tropicSlide {
  width: 80%;
  // .slick-slider{
  //   width: 68% !important;
  //   text-align:center !important;
  // }

  .slick-prev {
    z-index: 5 !important;
    left: -16% !important;
    top: 15% !important;
  }

  .slick-prev::before,
  .slick-prev:before {
    content: url("./Assets/Slick/icon_arrow_left.svg") !important;
    background: transparent;
    position: absolute;
  }

  .slick-next {
    z-index: 5 !important;
    top: 15% !important;
    right: -5.2% !important;
  }

  .slick-next:before,
  .slick-next::before {
    content: url("./Assets/Slick/icon_arrow_right.svg") !important;
    background: transparent;
    position: absolute;
  }
}

@media (max-width:992px) and (orientation:portrait){
  .tropicSlide{
    .slick-prev{
      left:-24% !important;
    }
  }
}

@media (max-width: 576px) {
  .tropicSlide {
    .slick-slide {
      padding: 0 15px;
    }

    .slick-prev {
      left: -22% !important;
    }
  }
}
